html, body { 
	margin: 0;
	padding: 0;
	height: 100vh; 
}

body {
	background-size: cover;
	background-attachment: fixed;
	background-image: url("../img/wp/wallpaper.jpg");

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}